body {
  background-color: #081b29;
}
nav ul {
  background: linear-gradient(45deg, aquamarine, white, purple);
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin: 0%;
  list-style-type: none;
  display: flex;
}

.navbar_container {
  display: flex;
  justify-content: center;
}

.navbar_container a {
  color: blue;
  font-size: 100%;
  text-decoration: none;
  font-weight: 600;
  margin-left: 35px;
}

.navbar_container a:hover {
  color: gold;
}

ul li {
  display: inline;
  padding: 5px 5px;
}

h1 {
  color: #00abf0;
  text-align: center;
  font-size: 40px;
  font-family: fantasy;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
}

.hero-text h2 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hero-text h3 {
  padding: 0px;
  margin-left: 60px;
}

.my-button {
  display: block;
  margin: auto;
  font-size: larger;
}

.container_about h2 {
  text-align: center;
  font-family: cursive;
}

.container_about {
  text-align: center;
}

.container_education h2 {
  text-align: center;
  font-family: cursive;
}

.container_education {
  text-align: center;
}

.container_skills h2 {
  text-align: center;
  font-family: cursive;
}

.container_skills {
  text-align: center;
}

.container_experience h2 {
  text-align: center;
  font-family: cursive;
}

.container_experience {
  text-align: center;
}

.container_testimonials h2 {
  text-align: center;
  font-family: cursive;
}

.container_testimonials {
  text-align: center;
}

.container_contacts h2 {
  text-align: center;
  font-family: cursive;
}

.container_form {
  display: flex;
  justify-content: center;
}

.form_container {
  /* display: flex; */
  /* justify-content: center; */
  background: linear-gradient(45deg, purple, white, blue);
  width: 12cm;
  padding: 10px 20px;
  border-radius: 10px;
}

label {
  width: 140px;
  display: inline-block;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

input {
  padding: 4px;
  margin: 5px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid blueviolet;
  width: 7cm;
}

#submit {
  margin-top: 7px;
  color: white;
  font-weight: bold;
  padding: 4px;
  background-color: cyan;
  font-size: large;
  display: block;
  margin: auto;
}

#submit:hover {
  background-color: darkorchid;
}

.container_footer {
  text-align: center;
}

.footer_socials a {
  color: dodgerblue;
  font-size: 32px;
}

.footer_bar {
  text-align: center;
}

.footer_location a {
  color: aliceblue;
}
